@font-face{
    font-family: 'Damion';
    src: url("../fonts/Damion-Regular.ttf");
}

@font-face {
    font-family: RoundedElegance;
    src: url("../fonts/Rounded_Elegance_2.ttf");
}

@font-face {
    font-family: PTSans;
    src: url("../fonts/PT_Sans-Web-Regular.ttf");
}

/**************************** Generic Tag Styles ****************************/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'PTSans', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/**************************** Layout  ****************************/

.hide {
    display: none;
}

.map-view {
    float: right;
}

/**************************** Typography ****************************/

h1,
h2,
h3{
    font-family: 'RoundedElegance', sans-serif;
    color:white;
}

a{
    text-decoration: none;
}

.splash-title-container a,
.splash-title-container a:visited,
h1 a,
h1 a:visited,
h1.represent a:visited, 
.tapestry-title h1 a:visited{
    color:white;
}

.splash-title-container h1 { 
    font-weight: 300;
    color: #fff;
    font-size: 28px;
    margin: 20px;
    margin-bottom: 0;
}

h1.represent, 
.tapestry-title h1{
    color:white;
    text-shadow: 0 0 3px white;
    font-size:26px;
    font-weight:300;
    margin:0 auto;
    padding: 4px 0;
}

h1.represent a,
h1.represent a:hover {
    color:white;
}

.tapestry-title h1,
.tapestry-title-d h1,
.tapestry-title-b h1{
    background-color: rgba(32,46,84,0.4);
}

.splash-title-container h1{
    padding: 200px 0 20px;
    text-shadow: 0 0 0.2em white;
    border-width:1px;
    border-style: none solid solid;
    border-color:white;
    width: 100%;
    margin: 0;
    height: 250px;
    z-index: 30;
    position: relative;
}

.splash-title-container h2 {
    margin: 0;
    display: inline-block;
    font-size: 36px;
    width:100%;
    font-weight:300;
    background-color: rgba(255,108,0,0.43);
    z-index: 30;
    position: relative;
}

.splash-title-container h3{
     font-family:'Damion';
     font-size:28px;
     z-index: 30;
     position: relative;
}

.info-box h2{
    line-height: 1.2em;
    margin:20px 14px 4px;
    font-size: 32px;
}

.about-page h1{
    font-size:42px;
    position:relative;
    margin: 30px;
}

.about-page h2{
    border:solid 1.5px white;
    padding: 10px 30px;
    position:relative;
    margin:0 auto;
    width: 150px;
    font-weight: 300;
    font-size: 24px;
}

p {
    font-weight: 400;
    color: #ffffff;
}

.about-content p{
    color:white;
    background-color:rgba(115,99,87,.3);
    padding:20px 20px 60px;
    margin:20px 0 0;
}

.about-content a{
    color:white;
    font-weight: bold;
}

.about-content{
    margin: 0 auto;
    position: relative;
    text-align: left;
}

.tags{
    color:white;
    font-style: italic;
}

#left-panel fieldset{
    text-align: center;
    color:white;
    border:1px solid white;
    margin: -36px 20px 30px;
}

#left-panel legend{
    font-size:24px;
}

#left-panel a{
    color:white;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
}

footer{
    color:#949494;
    bottom:0px;
    position:absolute;
}

#logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

/**************************** Buttons ****************************/

#search-button{
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
    color:white;
    padding: 10px 30px;
    box-shadow: 0 0 3px 2px rgba(255,255,255,0.3);
    font-family:'RoundedElegance', sans-serif;
    font-weight: normal;
    background-color:rgba(25,59,83,0.7);
    width: 100px;
}

.splash-page #search-button{
    position: fixed;
    right: 33vw;
    bottom: 75px;
    z-index: 999;
}

/*********************************** Splash ***********************************/

.splash-page {
    position: absolute;
    width: 100%;
    top: 0px;
    min-height: 100%;
    background: #FFF;
    z-index: 1000;
    background-color:#507794;
    background: url('../assets/statue2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.splash-title-container{
    position: absolute;
    left: 100px;
}

.splash-title-container > div{
     width: 200px;
     text-align:center;
}

.splash-title-container > div > div{
     position:relative;
}

.text-border{
    border: 1px solid white;
    border-top: none;
    padding: 10px 0;
    position: relative;
    z-index: 30;
}

.title-decoration{
    position:absolute;
     background-image:url('../assets/title-background.png');
     background-size: 550px;
     background-repeat: no-repeat;
     top: 10px;
     left: -50px;
     width: 100vw;
     height: calc(100vh - 260px);
     width: calc(100vw - 65px);
}

#about{
    color: white;
    position: fixed;
    right: 33vw;
    bottom: 35px;
    z-index: 999;
    vertical-align: middle;
    width: 100px;
    text-decoration: underline;
    text-align: center;
    font-family: 'RoundedElegance'
}

hr.enter {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
    position: fixed;
    right: 0;
    bottom: 78px;
    z-index: 10000;
    width: 33vw;
}

/*********************************** Splash mobile ***********************************/

@media (max-width: 700px) {

    .button-center{
        text-align:center;
        padding: 10px;
    }

    /*.nav {
        display: none;
    }*/

    .map-page{
        background-color:rgba(32,46,84,0.7);
        min-height:100vh;
    }

    .about-page h1{
        font-size:24px;
        position:relative;
        margin: 10px;
    }

    .info-box h2{
        font-size:20px;
        margin-top:14px;
    }

    .title-decoration{
        background-image: url('../assets/title-background-m.png');
        background-size: 100%;
        background-repeat: no-repeat;
        top: 10px;
        width: 100vw;
        position: absolute;
        left: calc(-50vw + 100px);
    }

    .splash-title-container{
        position: relative;
        left:0;
    }

    .splash-title-container > div{
        margin:auto;
    }

    .splash-title-container h1{
        padding: 100px 0 20px;
        height: 150px;
    }

    .splash-page #search-button,
    #about{
        right:calc(50vw - 50px);
    }

    hr.enter{
        width: calc(50vw - 50px);
    }

    .splash-title-container h1{
        font-size:24px;
    }

    .splash-title-container h2{
        font-size:30px;
    }

    .splash-title-container h3{
        text-align: center;
        padding-right: 10px;
    }
}

/**************************** About Page ****************************/

.about-page hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.6px solid white;
    margin: 1em 0;
    padding: 0;
    position: absolute;
    top: 40px;
    z-index: 10000;
    width: calc(50vw - 75px);
}

.about-page hr.left{
    left:0;
}

.about-page hr.right{
    right:0;
}

.about-page {
    position: absolute;
    width: 100%;
    top: 0px;
    min-height: 100%;
    background: #FFF;
    z-index: 1000;
    background: url('../assets/dome.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:10;
    text-align: center;
    padding-top:30px;
}

/*********************************** Map ***********************************/

#map {
    width: 100%;
    top:0;
    background-color: #EEE;
    height: calc( 100vh - 75px );
    position:absolute !important; /*need to find where this is in the js*/
}

.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc6d36+0,3c95c6+100 */
    background: rgb(252,109,54); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252,109,54,1) 0%, rgba(60,149,198,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252,109,54,1) 0%,rgba(60,149,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252,109,54,1) 0%,rgba(60,149,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6d36', endColorstr='#3c95c6',GradientType=0 ); /* IE6-9 */
    opacity:.6;
}

.overlay {
  position: relative;
}

/**************************** Map Decoration ****************************/

.tapestry-title-d{
     background-image: url('../assets/tree-tapestry.png');
     background-size: 100%;
     text-align: center;
     padding:10px 0;
     position: relative;
     z-index: 100;
}

/********************* Story Detail Page (templates/story-detail.html) *********************/

.info-box{
    display: none;
    overflow: hidden;
    z-index: 1000;
}

.story-detail {
    display: block;
    width: 100%;
    text-decoration: none;
}

.info-box > div {
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.photo-container { 
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin:10px;
}

svg {
    float: right;
    margin-top: 20px;
}

.description {
    white-space: pre-wrap;
    color: white;
    font-size: 1em;
    padding: 8px 14px 4px;
    margin: 0;
}

.description a {
    color: #585858;
    font-size: 1em;
    color: rgba(255,255,255,0.6);
    padding: 0 14px;
    text-transform:uppercase;
}

.button-center{
    text-align:center;
    padding: 30px;
}

#left-panel .about{
     width: 100%;
     text-align: center;
     padding-top: 0px;
}

#left-panel .about a{
    color:white;
    font-family: 'RoundedElegance', sans-serif;
    text-decoration: underline;
}

.zoom-photo-container{
    width:100%;
    height:100%;
    max-height:67vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*********************************** Map larger than 700 ***********************************/
@media (min-width: 700px) {

    .story-detail{
        padding-bottom: 10px;
    }

    .tapestry-title-b{
        height:110px;
        background-image: url('../assets/tree-tapestry-2.png');
        background-size: 100%;
        text-align: center;
        padding-top:10px;
    }

    .about-content{
        padding:70px;
        max-width: 900px;
        background-image:url(../assets/about-corner-ul.png), url(../assets/about-corner-lr.png);
        background-repeat: no-repeat no-repeat;
        background-position: 0 0, right bottom;
        background-size: 100px, 100px;
        margin:0 auto;
    }

    .about-content p{
         padding: 40px;
         box-shadow: 0 0 6px 2px rgba(255,255,255,0.2);
         margin:0;
    }

    .mobile-layout{
         display: none;
    }

    #left-panel{
        width: 35vw;
        height: 100%;
        overflow: scroll;
        position:fixed;
        left: 0;
        top: 0;
        background: -moz-linear-gradient(-45deg, rgba(0,40,116,0.7) 0%, rgba(253,124,0,0.7) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(0,40,116,0.7) 0%,rgba(253,124,0,0.7) 100%);
        background: linear-gradient(135deg, rgba(0,40,116,0.7) 0%,rgba(253,124,0,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3002874', endColorstr='#b3fd7c00',GradientType=1 );
    }

    #bottom-nav{
        width: 100%;
    }

    .carousel-control{
        bottom: 50px;
    }

    .map{
        width: 100vw;
    }
}

/*********************************** Map mobile and tablet ***********************************/

@media (max-width: 700px) {

    .tapestry-title h1{
        font-size:20px;
    }

    .tapestry-title{
        background-image: url('../assets/tree-tapestry-m.png');
        background-size: 100%;
        text-align: center;
        padding:6px 0;
        z-index: 30;
        position: relative;
    }

    .photo-container svg{
        visibility:hidden;
    }

    .desktop-layout{
        display:none;
        padding:0;
    }

    .info-box{
        width: 100%;
        margin-left:0;
        position:fixed;
        bottom:0px;
        border-style:none;
    }

    .mobile-panel{
        float: left;
        height:100px;
        width: calc(100% - 150px);
        background-color: rgba(32,46,84,0.7);         
    }

    .photo-container{
        display: inline-block;
        height: 100px;
        width: 150px;
        margin: 0;
        background-color: rgba(32,46,84,0.7);  
        background-position: right;
        background-size: contain;                
    }
}

.mobile-sheet{
    overflow: hidden;
    width: 100%;
    margin-left:0;
}

.mobile-sheet h2{
    font-size:20px;
    margin:25px 10px 10px;
}

.mobile-sheet .description{
    padding: 0 10px 20px;
}

/**************************** Bottom Navigation ****************************/

#bottom-nav {
    background-color: #fff;
    color: #585858;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    font-family:'Cubano';
    text-align: right;
    width: 100%;
}

.leaflet-container a.lg, 
.leaflet-container a.lg:hover, 
.leaflet-container a.lg:visited {
    color: #444;
    text-decoration: none;
    font: 12px/12px 'lg';
    line-height: 25px;
}

.leaflet-left {
    left: 0;
    height: 25px;
}

#bottom-nav .lg {
    float: left;
    font: 14px/14px 'lg';
    line-height: 30px;
} 

#bottom-nav .lg img {
    width: 30px;
    vertical-align: middle;
}

.lg-logo {
    width: 25px;
    margin-right: 5px;
    vertical-align: sub;
}

/**************************/
/* New Styles Sarah Added */
/**************************/
.carousel-control {
    position: absolute;
    text-decoration: none;
    left: 15px;
    width: 40px;
    height: 40px;
    font-size: 60px;
    font-weight: 100;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    filter: alpha(opacity=40);
    padding: 5px;
}

.carousel-control.right {
    right: 15px;
    left: auto;
}

.close-btn {
    right: 4px;
    top: 6px;
    font-size: 25px;
    line-height: 25px;
    position: absolute;
    text-decoration: none;
    width: 30px;
    height: 30px;
    /*margin-top: -20px;*/
    font-weight: 100;
    color: #666;
    text-align: center;
    background: #FFF;
    border: 3px solid #666;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: .7;
    filter: alpha(opacity=70);
    z-index: 999;
}

/************************Audio Player ********************************/

audio {
  display: none;
}

#audio-container {
  color: #EFEFEF;
  text-align: center;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  overflow: hidden;
  padding: 15px 0 25px;
}

#progress {
  height: 10px;
  width: 200px;
  background: rgba(255,255,255,0.4);
  border-radius: 2px;
  overflow: hidden;
  margin: auto;
}

#progress > div {
  height: 10px;
  width: 0%;
  background: white;
}

#play {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #efefef;
  margin: 12px auto;
}

#play.pause {
  width: 30px;
  height: 30px;
  border-width: 0 10px 0 10px;
  border-color: #efefef;
}




