<div class="map"></div>
<div class="mobile-layout">
    <div class="tapestry-title">
        <h1>
            <a href="./">Represent Gujarat</a>
        </h1>
    </div>
</div>
<div id="left-panel" class="desktop-layout">
    <div class="tapestry-title-b">
        <h1 class="represent">
            <a href="./">Represent Gujarat</a>
        </h1>
    </div>
    <fieldset style="text-align:center;">
        <legend style="color:white;font-family:'RoundedElegance'">Gujarat</legend>
        <p>
            Stories are the embodiment of our unique experiences and journeys, and are our primary way of remembering the past. Represent provides a platform for the sharing of stories of all types, including poems, songs, myths, legends and folktales, from all places and people. 
          </p><p>
            Our next collection of stories is from the state of Gujarat.  Using multiple dialects and modalities, they tell us about the culture and history of this ancient place using stories and songs. We hope you enjoy this opportunity to explore the magical world of stories.
          </p>
     </fieldset>
     <div class = "button-center">
        <a id="search-button" style="font-weight: normal">Explore</a>
    </div>
</div>
