<div class="mobile-layout">
    <div class = "tapestry-title">
        <h1>
            <a href = "../">Represent Bihar</a>
        </h1>
    </div>
</div>
<div class="map"></div>
<div id="left-panel">
    <div class = "tapestry-title-b">
        <h1 class = "represent">
            <a href = "../bihar">Represent Bihar</a>
        </h1>
    </div>
    <fieldset style = "text-align:center;">
        <legend style = "color:white;font-family:'RoundedElegance'">Bihar</legend>
        <p>
            Lorem ipsum dolor sit amet, mei noster commune at, minimum nostrum explicari cu his. Ridens referrentur eu mea. Quo in eligendi disputationi. Cum ex perpetua maiestatis. Eu quo oporteat tacimates, at quot vulputate eos.

            Deleniti detraxit his ea, ne duo quas possit posidonium. Ipsum atomorum erroribus pro at, fabulas persecuti duo ut. Mei paulo omnes eirmod nec brute honestatis no. Vide eleifend electram ne nam. 
        </p>
     </fieldset>
    <div class = "about">
        <a href="../bihar/about.html">About</a>
    </div>

</div>
    