<div class="map"></div>
<div class="mobile-layout">
    <div class="tapestry-title">
        <h1>
            <a href="./about.html">Represent Bihar</a>
        </h1>
    </div>
</div>
<div id="left-panel" class="desktop-layout">
    <div class="tapestry-title-b">
        <h1 class="represent">
            <a href="../bihar">Represent Bihar</a>
        </h1>
    </div>
    <fieldset style="text-align:center;">
        <legend style="color:white;font-family:'RoundedElegance'">Bihar</legend>
        <p>
        Stories are the embodiment of our unique experiences and journeys, provide the narrative behind our myths, legends and folktales, and are our primary way of remembering the past. Represent provides a platform for the sharing of stories of all types, from all places and people. Our first collection of stories is from the state of Bihar. Through a variety of dialects and modalities, they tell us about the culture and history of Bihar using stories and songs. We hope you enjoy the opportunity to explore this ancient land.
     </fieldset>
     <div class = "button-center">
        <a id="search-button">Explore</a>
    </div>
</div>
