<div class="food-detail info-box food-detail-generic">
    <div class = "desktop-layout tapestry-title-d">
        <h1 class = "represent">
            <a href = "../bihar">Represent Bihar</a>
        </h1>
    </div>
    
    <h2 class = "desktop-layout">
        {{ story_title }}
    </h2>
    
    <p id="social-media-handle" class="desktop-layout">
        {{ narrator_name }}
    </p>
    
    <p id="social-media-handle" class="desktop-layout">
        {{ summary }}
    </p>

    <div class="photo-container" style="background-image: url('https://localground-prod.s3.amazonaws.com/media/vatsala/photos/Shefali4_250.jpg');" />

    <audio controls id="player" class="audio" class="mobile-layout">
      <source src="https://localground-prod.s3.amazonaws.com/media/vatsala/audio/shefaliroy2hindi_uHn2pb9.mp3" type="audio/mp3" />
    </audio>

    <div id="audio-container" class = "desktop-layout">
        <div id="play"></div>
        <div id="progress">
            <div></div>
        </div>
    </div>

    <div class="nav">
        <a class="carousel-control left previous-place" href="#" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right next-place" href="#" data-slide="next">&rsaquo;</a>
    </div>

    <div class="about desktop-layout">
        <a href="#/explore">Explore</a>
    </div>
</div>

