<div class="splash-container">
    <div class="splash-title-container">
        <div>
            <h1>Represent</h1>
            <div>
                <div class="text-border">
                    <h2><a href="#/explore">Bihar</a></h2>
                </div>
                <h3>Everyone has a story to tell</h3>
                <div class="title-decoration" />
            </div>
        </div>
    </div>
    <a id="search-button" href="#/places/444">Enter</a>
    <hr class="enter" />
    <a id="about" href="../bihar/about.html">About</a>
</div>
<div class="container">
    <footer>
        Powered by <a href="http://localground.org" target="_blank">Local Ground</a>
    </footer>
</div>