<div class="story-detail mobile-sheet mobile-layout">

    <a class="close-btn" href="#">&times;</a>

    <h2>{{ title }}</h2>
    
    <p class="description">{{ credits }}</p>

    <p class="description">{{ description }}</p>

    <div class="zoom-photo-container" style="background-image: url({{imageURL}});" />

    <audio controls preload id="player" class="audio">
      <source src={{audioURL}} type="audio/mpeg" />
    </audio>

    <div id="audio-container">
        <div id="play"></div>
        <div id="progress">
            <div></div>
        </div>
    </div>

    <div class="nav">
        <a class="carousel-control left previous-place-zoom" href="#">&lsaquo;</a>
        <a class="carousel-control right next-place-zoom" href="#">&rsaquo;</a>
    </div>

    <div class = "button-center">
        <a id="search-button" href="#/explore">Explore</a>
    </div>

</div>
