<div class="story-detail info-box">
    <div class = "desktop-layout tapestry-title-d">
        <h1 class = "represent">
            <a href = "./">Represent Gujarat</a>
        </h1>
    </div>

    <div class="photo-container"  style="background-image: url({{imageURL}});" />

    <div class="desktop-layout">

        <h2>{{ title }}</h2>        

        <p class="description">{{ name }}</p>

        <p class="description">{{ description }}</p>
        
        <audio controls id="player" class="audio">
            <source src={{audioURL}} type="audio/mpeg" />
        </audio>

        <div id="audio-container">
            <div id="play"></div>
            <div id="progress"><div></div></div>
        </div>

        <div class = "button-center">
            <a id="search-button" href="#/explore">Explore</a>
        </div>

        <div class="nav">
            <a class="carousel-control left previous-place" href="#" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right next-place" href="#" data-slide="next">&rsaquo;</a>
        </div>

    </div>

    <div class="mobile-panel mobile-layout">
        <h2>{{ title }}</h2>
        <p class="description">{{ name }}</p>
        <p class="description">{{ description }}</p>
    </div>
    
</div>

