<div class="story-detail mobile-sheet">

    <a class="close-btn mobile-layout" href="#">&times;</a>

    <h2 class="mobile-layout">
        {{ story_title }}
    </h2>
    
    <p class="description mobile-layout">
        {{ narrator_name }}
    </p>

    <div class="zoom-photo-container" style="background-image: url({{photo}});" />

    <audio controls preload id="player" class="audio" class="mobile-layout">
      <source src={{audio}} type="audio/mpeg" />
    </audio>

    <div id="audio-container" class = "mobile-layout">
        <div id="play"></div>
        <div id="progress">
            <div></div>
        </div>
    </div>

    <div class = "button-center mobile-layout">
        <a id="search-button" href="#/explore">Explore</a>
    </div>

    <div class="nav mobile-layout">
        <a class="carousel-control left previous-place-zoom mobile-layout" href="#">&lsaquo;</a>
        <a class="carousel-control right next-place-zoom mobile-layout" href="#">&rsaquo;</a>
    </div>

</div>
