<div class="splash-container">
    <div class = "splash-title-container">
        <div>
            <h1>Represent</h1>
            <div style = "position:relative;">
                <div class = "text-border">
                    <h2>
                        <a href = "/about.html">Bihar</a>
                    </h2>
                </div>
                <h3 style = "font-family:'Damion';color:white;font-size:34px;z-index: 30;position: relative;">Everyone has a story</h3>
                <div class = "title-decoration">
                </div>
            </div>
        </div>
    </div>
    <!--<div class="title-text" style = "width:33vw;height:100vh;background-image: url('../assets/title.png');    width: 66vw;
            height: 100vh;
            background-image: url('../assets/title.png');
            background-size: auto 100vh;
            background-repeat: no-repeat;
        }">-->
    <a id="search-button" href="#/explore">Enter</a>
    <hr class = "enter">
</div>
<div class="container">
    <div class="row" style = "display:none"></div>
    <footer>
        Powered by
        <a href="https://youthradio.org" target="_blank">Youth Radio</a> &
        <a href="http://localground.org" target="_blank">Local Ground</a>
    </footer>
</div>