<div class="splash-container">
    <div class="title-text" style = "width:33vw;height:100vh;background-image: url('../assets/title.png');    width: 66vw;
    height: 100vh;
    background-image: url('../assets/title.png');
    background-size: auto 100vh;
    background-repeat: no-repeat;
}">
        <a id="search-button" href="#/explore">Enter</a>
        <hr class = "enter">
    </div>
</div>
<div class="container">
    <div class="row" style = "display:none"></div>
    <footer>
        Powered by
        <a href="https://youthradio.org" target="_blank">Youth Radio</a> &
        <a href="http://localground.org" target="_blank">Local Ground</a>
    </footer>
</div>