<div class="splash-container">
    <div class = "splash-title-container">
        <div>
            <h1>Represent</h1>
            <div style = "position:relative;">
                <div class = "text-border">
                    <h2>
                        <a href = "#/explore">Bihar</a>
                    </h2>
                </div>
                <h3>Everyone has a story</h3>
                <div class = "title-decoration">
                </div>
            </div>
        </div>
    </div>
    <a id="search-button" href="#/explore">Enter</a>
    <hr class = "enter">
</div>
<div class="container">
    <div class="row" style = "display:none"></div>
    <footer>
        Powered by
        <a href="http://localground.org" target="_blank">Local Ground</a>
    </footer>
</div>